/* CSS FILE */

html, body {
    height : 100vh;
}

body {
    background-color: rgb(80, 75, 145);
}

img {
    max-width: 70%;
}

.button {
    padding : 5px;
}

.gameboard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 50px 0px;
    font-family :Arial, Helvetica, sans-serif;
    color: rgb(219, 248, 150);
}

.buckets {
    border : 2px solid black;
}

.sub {
    font-size : 20px;
    font-style: italic;
    color : aliceblue;
}

#score {
    display: flex;
    color :rgb(243, 240, 45);
    font-size: 30px;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    justify-content: space-around;
    margin: 1px 25% 10px 25%;
    border: 5px dashed rgb(236, 49, 49);
    padding: 10px;
}

#game {
    font-size: 30px;
}

#result {
    font-size : 30px;
    margin-bottom: 20px;
}

#roundNumber {
    color: aliceblue;
    text-decoration: underline;
    font-size: 25px;
    font-style: italic;
    margin-top : 10px;
    margin-bottom: 5px;
}

#select, #round {
    color: white;
    font-size: 30px;
}


#container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 10px 25% 10px 25%;
}

.footer {
    font-size: 15px;
}

.breakline {
    margin-bottom : 25px;
    font-weight: bolder;
    font-size: 30px;
}


.button :hover {
    border: 2px solid black;
}

button {
    border-radius: 20%;
    background-color: rgba(120, 163, 243, 0.774);
    font-size: large;
    font-weight: bolder;
    margin-bottom: 20px;
}
